<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Hola amiguitos</title>
</head>
<body>
    <div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
          <tbody>
      <h1 th:text="${mensaje}">Hola caracola</h1>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </thead>
      </table>
    </div>
</body>
</html>